* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  height: 100vh;
  text-align: center;
  background-image: url(../css/img/hotel-wallpaper.png);
  background-color: #eae1d9;
  background-blend-mode: multiply;
  color: #3d2d4c;
}

body .display {
  font-size: 2.5rem;
  padding-bottom: 1rem;
  font-family: "Rammetto One", cursive;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 2rem auto 1.5rem auto;
}

.wrapper {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100vh;
  margin: 0 auto;
  padding: 0.5rem 1.5rem 0.5rem;
  background-color: #eae1d9;
}

img {
  width: 80%;
}

.vibrate {
  -webkit-animation: vibration 0.15s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
          animation: vibration 0.15s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}

@-webkit-keyframes vibration {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
  }
  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  75% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes vibration {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
  }
  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  75% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.intro {
  width: 100vw;
  height: 390px;
  background-color: #3d2d4c;
  position: absolute;
  top: 15%;
  left: 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro .text,
.intro .text2 {
  width: 100%;
  margin: 3rem auto 1rem auto;
}

.intro .text .ornament,
.intro .text2 .ornament {
  width: 20%;
}

.intro .text .helper,
.intro .text2 .helper {
  width: 55%;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.7rem;
  color: #fcfce3;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0.5rem auto;
}

.intro .btn-wrapper,
.intro .btn-wrapper2 {
  width: 100%;
  margin-bottom: 40px;
}

.intro .btn-wrapper .btn,
.intro .btn-wrapper2 .btn {
  width: 15%;
  border: none;
  background-color: #eae1d9;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 0.8rem;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 0 1.5rem;
  color: #3d2d4c;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.intro .btn-wrapper .btn.garden:hover,
.intro .btn-wrapper2 .btn.garden:hover {
  background-color: #44b0b1;
  color: white;
  letter-spacing: 4px;
}

.intro .btn-wrapper .btn.trial:hover,
.intro .btn-wrapper2 .btn.trial:hover {
  background-color: #e62255;
  color: white;
  letter-spacing: 4px;
}

.intro .btn-wrapper .btn.mad:hover,
.intro .btn-wrapper2 .btn.mad:hover {
  background-color: #f4cb56;
  color: white;
  letter-spacing: 4px;
}

.intro .btn-wrapper .back,
.intro .btn-wrapper2 .back {
  cursor: pointer;
  background: none;
  border: none;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  color: white;
  margin-right: 0.5rem;
  letter-spacing: 2px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.intro .btn-wrapper .back:hover,
.intro .btn-wrapper2 .back:hover {
  color: #8f869b;
}

.intro .btn-wrapper .play,
.intro .btn-wrapper2 .play {
  width: 110px;
  height: 40px;
  position: relative;
}

.intro .btn-wrapper .play:before,
.intro .btn-wrapper2 .play:before {
  content: "";
  position: absolute;
  right: -17px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid #eae1d9;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

.intro .btn-wrapper .play:hover,
.intro .btn-wrapper2 .play:hover {
  letter-spacing: 4px;
}

.intro::before {
  content: '';
  width: 100%;
  height: 50px;
  position: absolute;
  top: -30px;
  background-color: #eae1d99c;
}

.intro::after {
  content: '';
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: -30px;
  background-color: #eae1d99c;
}

.title {
  line-height: 3rem;
  font-size: 2.5rem;
  font-family: "Rammetto One", cursive;
  color: #fcfce3;
  position: relative;
  margin-bottom: 1rem;
}

.hide {
  display: none;
}

.card-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
}

.card {
  width: 130px;
  height: 150px;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  cursor: pointer;
}

.card .face {
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: perspective(500px) rotateY(0deg);
          transform: perspective(500px) rotateY(0deg);
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}

.card .face.front {
  background-color: #fcfce3;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
}

.card .face.front img {
  width: 90%;
}

.card .face.back {
  -webkit-transform: perspective(500px) rotateY(180deg);
          transform: perspective(500px) rotateY(180deg);
}

.card .face.back.drink {
  background-color: #f4cb56;
}

.card .face.back.cat {
  background-color: #44b0b1;
}

.card .face.back.hat {
  background-color: #e62255;
}

.card .face.back.key {
  background-color: #3d2d4c;
}

.card .face.back.lock {
  background-color: #44b0b1;
}

.card .face.back.teacup {
  background-color: #f4cb56;
}

.card .face.back.croquet {
  background-color: #e62255;
}

.card .face.back.teapot {
  background-color: #3d2d4c;
}

.card .face.back.cupcake {
  background-color: #f4cb56;
}

.card .face img {
  -webkit-transform: perspective(500px) translateZ(50px);
          transform: perspective(500px) translateZ(50px);
}

.card.flip .face.front {
  -webkit-transform: perspective(500px) rotateY(180deg);
          transform: perspective(500px) rotateY(180deg);
}

.card.flip .face.back {
  -webkit-transform: perspective(500px) rotateY(360deg);
          transform: perspective(500px) rotateY(360deg);
}

.win,
.lose {
  width: 50vw;
  height: 390px;
  position: absolute;
  top: 15%;
  left: 25%;
  z-index: 5;
  padding: 2rem;
  background-color: #3d2d4c;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.win::before,
.lose::before {
  content: '';
  width: 100%;
  height: 50px;
  position: absolute;
  top: -30px;
  background-color: #eae1d99c;
}

.win::after,
.lose::after {
  content: '';
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: -30px;
  background-color: #eae1d99c;
}

.lose {
  background-color: #e62255;
}

.lose img {
  width: 60%;
}

.hide {
  display: none;
}
/*# sourceMappingURL=styles.css.map */