* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@-webkit-keyframes vibration {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
  }
  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  75% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes vibration {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
  }
  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  75% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

body {
  height: 100vh;
  text-align: center;
  background-image: url(../css/img/hotel-wallpaper.png);
  background-color: #eae1d9;
  background-blend-mode: multiply;
  color: #3d2d4c;
}

body .tag-container {
  width: 40px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 2;
}

body .tag-container .link {
  background: #3d2d4c;
  border: none;
  border-radius: 5px;
  padding: 0.35rem 1rem;
  text-align: center;
  color: #eae1d9;
  font-weight: 700;
  font-size: 1rem;
  margin-right: 1rem;
}

body .tag-container .tag {
  width: 140px;
  height: 30px;
  position: relative;
  border: none;
  background-color: #3d2d4c;
  border-radius: 0 5px 5px 0;
  font-size: 0.8rem;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  letter-spacing: 2px;
  color: #eae1d9;
  cursor: pointer;
  margin-top: 2rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

body .tag-container .tag:hover {
  letter-spacing: 4px;
  -webkit-transform: scale(1);
          transform: scale(1);
}

body .tag-container .tag::before {
  content: "";
  position: absolute;
  left: -15px;
  bottom: 0;
  width: 0;
  height: 0;
  border-right: 15px solid #3d2d4c;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

body .wrapper {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100vh;
  margin: 0 auto;
  padding: 0.5rem 1.5rem 0.5rem;
  background-color: #eae1d9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

body .wrapper .display {
  font-size: 2.5rem;
  font-family: "Rammetto One", cursive;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 1.5rem auto;
}

body .wrapper .display.vibrate {
  -webkit-animation: vibration 0.15s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
          animation: vibration 0.15s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}

body img {
  width: 80%;
}

body .hide {
  display: none;
}

.intro {
  position: absolute;
  height: 390px;
  top: 50%;
  margin-top: -195px;
  width: 100vw;
  left: 50%;
  margin-left: -50vw;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #3d2d4c;
}

.intro .text-welcome,
.intro .text-rules {
  width: 100%;
  margin: 2.5rem auto 1rem auto;
}

.intro .text-welcome .title,
.intro .text-rules .title {
  line-height: 3rem;
  font-size: 2.5rem;
  font-family: "Rammetto One", cursive;
  color: #fcfce3;
  margin: 1rem auto;
}

.intro .text-welcome .ornament,
.intro .text-rules .ornament {
  width: 20%;
}

.intro .text-welcome .helper,
.intro .text-rules .helper {
  width: 55%;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.7rem;
  color: #fcfce3;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0.5rem auto;
}

.intro .btn-wrapper {
  width: 100%;
  margin-bottom: 45px;
}

.intro .btn-wrapper .btn {
  width: 20%;
  border: none;
  background-color: #eae1d9;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 0.8rem;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 0 1rem;
  color: #3d2d4c;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.intro .btn-wrapper .btn:hover {
  color: white;
  letter-spacing: 4px;
}

.intro .btn-wrapper .btn.garden:hover {
  background-color: #44b0b1;
}

.intro .btn-wrapper .btn.trial:hover {
  background-color: #e62255;
}

.intro .btn-wrapper .btn.mad:hover {
  background-color: #f4cb56;
}

.intro::before {
  content: '';
  width: 100%;
  height: 50px;
  position: absolute;
  top: -30px;
  background-color: #eae1d99c;
  border-radius: 10px 10px 0 0;
}

.intro::after {
  content: '';
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: -30px;
  background-color: #eae1d99c;
  border-radius: 0 0 10px 10px;
}

@-webkit-keyframes hideAndChange {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hideAndChange {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.card-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
}

.card-container.hide-and-change {
  -webkit-animation: hideAndChange 2.5s cubic-bezier(0.165, 0.84, 0.44, 1);
          animation: hideAndChange 2.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card {
  width: 130px;
  height: 150px;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  cursor: pointer;
}

.card .face {
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: perspective(500px) rotateY(0deg);
          transform: perspective(500px) rotateY(0deg);
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}

.card .face.front {
  background-color: #fcfce3;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
}

.card .face.front img {
  width: 90%;
}

.card .face.back {
  -webkit-transform: perspective(500px) rotateY(180deg);
          transform: perspective(500px) rotateY(180deg);
}

.card .face.back.drink {
  background-color: #f4cb56;
}

.card .face.back.cat {
  background-color: #44b0b1;
}

.card .face.back.hat {
  background-color: #e62255;
}

.card .face.back.key {
  background-color: #3d2d4c;
}

.card .face.back.lock {
  background-color: #44b0b1;
}

.card .face.back.teacup {
  background-color: #f4cb56;
}

.card .face.back.croquet {
  background-color: #e62255;
}

.card .face.back.teapot {
  background-color: #3d2d4c;
}

.card .face.back.cupcake {
  background-color: #f4cb56;
}

.card .face img {
  -webkit-transform: perspective(500px) translateZ(50px);
          transform: perspective(500px) translateZ(50px);
}

.card.flip .face.front {
  -webkit-transform: perspective(500px) rotateY(180deg);
          transform: perspective(500px) rotateY(180deg);
}

.card.flip .face.back {
  -webkit-transform: perspective(500px) rotateY(360deg);
          transform: perspective(500px) rotateY(360deg);
}

@-webkit-keyframes swapToRight {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(120px);
            transform: translateX(120px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes swapToRight {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(120px);
            transform: translateX(120px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes swapToLeft {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-120px);
            transform: translateX(-120px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes swapToLeft {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-120px);
            transform: translateX(-120px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes fall {
  0% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  50% {
    -webkit-transform: rotateZ(-60deg);
            transform: rotateZ(-60deg);
  }
  100% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
}

@keyframes fall {
  0% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  50% {
    -webkit-transform: rotateZ(-60deg);
            transform: rotateZ(-60deg);
  }
  100% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
}

@-webkit-keyframes grow {
  0% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes grow {
  0% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.win,
.lose {
  position: absolute;
  height: 390px;
  top: 50%;
  margin-top: -195px;
  width: 40vw;
  left: 50%;
  margin-left: -20vw;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  background-color: #3d2d4c;
}

.win .title,
.lose .title {
  line-height: 3rem;
  font-size: 2.5rem;
  font-family: "Rammetto One", cursive;
  color: #fcfce3;
  margin: 1rem auto;
  font-size: 2rem;
}

.win img,
.lose img {
  width: 70%;
}

.win::before,
.lose::before {
  content: '';
  width: 100%;
  height: 40px;
  position: absolute;
  top: -20px;
  background-color: #eae1d99c;
  border-radius: 10px 10px 0 0;
}

.win::after,
.lose::after {
  content: '';
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: -20px;
  background-color: #eae1d99c;
  border-radius: 0 0 10px 10px;
}

.win .grow-animation {
  -webkit-animation: grow 3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
          animation: grow 3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.lose {
  background-color: #e62255;
}

.lose .fall-animation {
  -webkit-transform-origin: 60% 80%;
          transform-origin: 60% 80%;
  -webkit-animation: fall 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
          animation: fall 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
}

.mix {
  position: absolute;
  height: 290px;
  top: 50%;
  margin-top: -145px;
  width: 30vw;
  left: 50%;
  margin-left: -15vw;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  background-color: white;
}

.mix .mix-animation {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mix .mix-animation img {
  width: 20%;
}

.mix .mix-animation .card1 {
  -webkit-animation: swapToRight 3s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
          animation: swapToRight 3s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
}

.mix .mix-animation .card2 {
  -webkit-animation: swapToLeft 3s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
          animation: swapToLeft 3s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
}

.mix .helper {
  width: 55%;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.7rem;
  color: #fcfce3;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0.5rem auto;
  color: #3d2d4c;
  font-weight: 700;
  margin: 0;
  width: 100%;
}

.mix::before {
  content: '';
  width: 100%;
  height: 20px;
  position: absolute;
  top: -10px;
  background-color: #f4ca56a9;
  border-radius: 10px 10px 0 0;
}

.mix::after {
  content: '';
  width: 100%;
  height: 20px;
  position: absolute;
  bottom: -10px;
  background-color: #f4ca56a9;
  border-radius: 0 0 10px 10px;
}

@media only screen and (max-width: 1024px) {
  body img {
    width: 70%;
  }
  body .display {
    font-size: 2rem;
  }
  body .card {
    width: 110px;
    height: 130px;
  }
  body .win img {
    width: 90%;
  }
  body .win .title {
    font-size: 1.7rem;
    line-height: 1.5;
  }
  body .lose img {
    width: 85%;
  }
  body .lose .title {
    line-height: 1.3;
  }
  body .mix .mix-animation img {
    width: 25%;
  }
  body .mix .helper {
    width: 100%;
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@media only screen and (max-width: 768px) {
  body img {
    width: 70%;
  }
  body .win,
  body .lose {
    width: 50vw;
    left: 50%;
    margin-left: -25vw;
  }
  body .win .title,
  body .lose .title {
    font-size: 1.5rem;
  }
  body .mix {
    height: 230px;
    margin-top: -115px;
  }
  body .mix .helper {
    font-size: 0.8rem;
    line-height: 1rem;
  }
  body .display {
    font-size: 2rem;
  }
  body .card-container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  body .card-container .card {
    width: 110px;
    height: 130px;
  }
  body .tag-container .tag {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media only screen and (max-width: 576px) {
  body .win,
  body .lose {
    height: 460px;
    top: 50%;
    margin-top: -230px;
    width: 85vw;
    left: 50%;
    margin-left: -42.5vw;
  }
  body .win .title,
  body .lose .title {
    font-size: 2rem;
  }
  body .mix {
    width: 60vw;
    height: 230px;
    margin-top: -115px;
    left: 50%;
    margin-left: -30vw;
  }
  body .intro {
    height: 460px;
    top: 50%;
    margin-top: -230px;
  }
  body .intro .text-welcome {
    width: 95%;
  }
  body .intro .text-welcome .title {
    font-size: 1.4rem;
    line-height: 1.5;
  }
  body .intro .text-welcome .ornament {
    width: 40%;
  }
  body .intro .text-welcome .helper {
    font-size: 1rem;
  }
  body .intro .btn-wrapper .btn {
    width: 50%;
    margin: 0.5rem;
  }
  body img {
    width: 70%;
  }
  body .display {
    font-size: 2rem;
  }
  body .card-container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  body .card-container .card {
    width: 80px;
    height: 100px;
  }
  body .card-container .card:nth-child(n+13) {
    display: none;
  }
  body .card-container .card .face img {
    -webkit-transform: perspective(500px) translateZ(35px);
            transform: perspective(500px) translateZ(35px);
  }
}

@media only screen and (max-width: 375px) {
  body .mix .helper {
    font-size: 0.7rem;
  }
  body .intro {
    height: 490px;
    top: 50%;
    margin-top: -245px;
  }
  body .intro .text-welcome {
    width: 95%;
  }
  body .intro .text-welcome .title {
    margin-top: 0;
    font-size: 1.5rem;
    line-height: 1.5;
  }
  body .intro .text-welcome .ornament {
    width: 50%;
  }
  body .intro .text-welcome .helper {
    width: 90%;
    font-size: 1rem;
  }
  body .intro .btn-wrapper .btn {
    width: 50%;
    margin: 0.5rem;
  }
  body .intro .btn-wrapper .btn:hover {
    width: 60%;
  }
}
/*# sourceMappingURL=styles.css.map */