* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  height: 100vh;
  text-align: center;
  background-image: url(../css/img/hotel-wallpaper.png);
  background-color: #eae1d9;
  background-blend-mode: multiply;
}

body h1, body h2 {
  font-size: 2.5rem;
  padding-bottom: 1rem;
  font-family: "Rammetto One", cursive;
  color: #3d2d4c;
  background-color: #eae1d9;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 2rem auto 1.5rem auto;
}

.wrapper {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100vh;
  margin: 0 auto;
  padding: 0.5rem 1.5rem 0.5rem;
  background-color: #eae1d9;
}

img {
  width: 80%;
}

.vibrate {
  color: #e62255;
  -webkit-animation: vibration 0.15s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
          animation: vibration 0.15s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}

@-webkit-keyframes vibration {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
  }
  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  75% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes vibration {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
  }
  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  75% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.card-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
}

.card {
  width: 130px;
  height: 150px;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.card .face {
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: perspective(500px) rotateY(0deg);
          transform: perspective(500px) rotateY(0deg);
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}

.card .face.front {
  background-color: #fcfce3;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
}

.card .face.back {
  -webkit-transform: perspective(500px) rotateY(180deg);
          transform: perspective(500px) rotateY(180deg);
}

.card .face.back.drink {
  background-color: #f4cb56;
}

.card .face.back.cat {
  background-color: #44b0b1;
}

.card .face.back.hat {
  background-color: #e62255;
}

.card .face.back.key {
  background-color: #3d2d4c;
}

.card .face.back.lock {
  background-color: #44b0b1;
}

.card .face.back.teacup {
  background-color: #f4cb56;
}

.card .face.back.croquet {
  background-color: #e62255;
}

.card .face.back.teapot {
  background-color: #3d2d4c;
}

.card .face.back.cupcake {
  background-color: #f4cb56;
}

.card .face img {
  -webkit-transform: perspective(500px) translateZ(50px);
          transform: perspective(500px) translateZ(50px);
}

.card.flip .face.front {
  -webkit-transform: perspective(500px) rotateY(180deg);
          transform: perspective(500px) rotateY(180deg);
}

.card.flip .face.back {
  -webkit-transform: perspective(500px) rotateY(360deg);
          transform: perspective(500px) rotateY(360deg);
}
/*# sourceMappingURL=styles.css.map */