.card{
    width: 130px;
    height: 150px;
    position: relative;
    transform-style: preserve-3d;
    cursor: pointer;
    .face{
        border-radius: 10px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        display: flex;
        justify-content: center;
        align-items: center;
        backface-visibility: hidden;
        transform: perspective(500px) rotateY(0deg);
        transition: 0.7s ease-in-out;
        &.front{
            // background-image: url(../css/img/hotel-wallpaper.png);
            background-color: rgb(252, 252, 227);
            background-size: cover;
            background-repeat: no-repeat;
            background-blend-mode: multiply;
            img{
                width: 90%;
            }
        }
        &.back{
            transform: perspective(500px) rotateY(180deg);
            &.drink{
                background-color: $yellow;
            }
            &.cat{
                background-color: $blue;
            }
            &.hat{
                background-color: $pink;
            }
            &.key{
                background-color: $purple;
            }
            &.lock{
                background-color: $blue;
            }
            &.teacup{
                background-color: $yellow;
            }
            &.croquet{
                background-color: $pink;
            }
            &.teapot{
                background-color: $purple;
            }
            &.cupcake{
                background-color: $yellow;
            }
        }
        img{
            transform: perspective(500px) translateZ(50px);
        }
    }
}

.card.flip .face.front{
    transform: perspective(500px) rotateY(180deg);
}
.card.flip .face.back{
    transform: perspective(500px) rotateY(360deg);
}