@keyframes hideAndChange {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

.card-container{
    width: fit-content;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
    &.hide-and-change{
        animation: hideAndChange 2.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
}