.intro{
    width: 100vw;
    height: 390px;
    background-color: $purple;
    position: absolute;
    top: 15%;
    // top: 50%;
    // margin-top: -195px;
    left: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .text-welcome,
    .text-rules{
        width: 100%;
        margin: 2.5rem auto 1rem auto;
        .ornament{
            width: 20%;
        }
    }
    .btn-wrapper{
        width: 100%;
        margin-bottom: 45px;
        .btn{
            width: 20%;
            border: none;
            background-color: $gray;
            padding: 0.5rem 1rem;
            border-radius: 5px;
            font-size: 0.8rem;
            font-family: $body;
            font-weight: $bold;
            letter-spacing: 2px;
            margin: 0 1rem;
            color: $purple;
            cursor: pointer;
            transition: all 0.5s ease-in-out;
            &.garden{
                &:hover{
                    background-color: $blue;
                    color: white;
                    letter-spacing: 4px;
                }
            }
            &.trial{
                &:hover{
                    background-color: $pink;
                    color: white;
                    letter-spacing: 4px;
                }
            }
            &.mad{
                &:hover{
                    background-color: $yellow;
                    color: white;
                    letter-spacing: 4px;
                }
            }
        }
        // .play{
        //     width: 110px;
        //     height: 40px;
        //     position: relative;
        //     &:before {
        //         content: "";
        //         position: absolute;
        //         right: -17px;
        //         bottom: 0;
        //         width: 0;
        //         height: 0;
        //         border-left: 20px solid $gray;
        //         border-top: 20px solid transparent;
        //         border-bottom: 20px solid transparent;
        //     }
        // }
    }
    &::before{
        content: '';
        width: 100%;
        height: 50px;
        position: absolute;
        top: -30px;
        background-color: #eae1d99c;
    }
    &::after{
        content: '';
        width: 100%;
        height: 50px;
        position: absolute;
        bottom: -30px;
        background-color: #eae1d99c;
    }
}

.title{
    line-height: 3rem;
    font-size: 2.5rem;
    font-family: $titles;
    color: rgb(252, 252, 227);
    position: relative;
    margin: 1rem auto;
}

.helper{
    width: 55%;
    font-family: $body;
    font-weight: $light;
    font-size: 1.2rem;
    line-height: 1.7rem;
    color: rgb(252, 252, 227);
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0.5rem auto;
}

.hide{
    display: none;
}