@media only screen and (max-width: 1024px){
    body{
        img{
            width: 70%;
        }
        .display{
            font-size: 2rem;
        }
        .card{
            width: 110px;
            height: 130px;
        }
        .win{
            img{
                width: 90%;
            }
            .title{
                font-size: 1.7rem;
                line-height: 1.5;
            }
        }
        .lose{
            img{
                width: 85%;
            }
            .title{
                line-height: 1.3;
            }
        }
        .mix{
            .mix-animation{
                img{
                    width: 25%;
                }
            }
            .helper{
                width: 100%;
                font-size: 1rem;
                line-height: 1.5rem;
            }
        }
    }
}

@media only screen and (max-width: 768px){
    body{
        img{
            width: 70%;
        }
        .win,
        .lose{
            width: 50vw;
            left: 50%;
            margin-left: -25vw;
            .title{
                font-size: 1.5rem;
            }
        }
        .mix{
            height: 230px;
            margin-top: -115px;
            .helper{
                font-size: 0.8rem;
                line-height: 1rem;
            }
        }
        .display{
            font-size: 2rem;
        }
        .card-container{
            grid-template-columns: repeat(3, 1fr);
            gap: 1rem;
            .card{
                width: 110px;
                height: 130px;
            }
        }
        .tag-container{
            .tag{
                transform: scale(1);
            }
        }
    }
}

@media only screen and (max-width: 576px){
    body{ 
        .win,
        .lose{
            height: 460px;
            top: 50%;
            margin-top: -230px;
            width: 85vw;
            left: 50%;
            margin-left: -42.5vw;
            .title{
                font-size: 2rem;
            }
        }
        .mix{
            width: 60vw;
            height: 230px;
            margin-top: -115px;
            left: 50%;
            margin-left: -30vw;
        }
        .intro{
            height: 460px;
            top: 50%;
            margin-top: -230px;
            .text-welcome{
                width: 95%;
                .title{
                    font-size: 1.4rem;
                    line-height: 1.5;
                }
                .ornament{
                    width: 40%;
                }
                .helper{
                    font-size: 1rem;
                }
            }
            .btn-wrapper{
                .btn{
                    width: 50%;
                    margin: 0.5rem;
                }
            }
        }
        img{
            width: 70%;
        }
        .display{
            font-size: 2rem;
        }
        .card-container{
            grid-template-columns: repeat(3, 1fr);
            gap: 1rem;
            .card{
                width: 80px;
                height: 100px;
                // &:nth-child(n+13){
                //     display: none;
                // }
                .face{
                    img{
                        transform: perspective(500px) translateZ(35px);
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 375px){
    body{
        .mix{
            .helper{
                font-size: 0.7rem;
            }
        }
        .intro{
            height: 490px;
            top: 50%;
            margin-top: -245px;
            .text-welcome{
                width: 95%;
                .title{
                    margin-top: 0;
                    font-size: 1.5rem;
                    line-height: 1.5;
                }
                .ornament{
                    width: 50%;
                }
                .helper{
                    width: 90%;
                    font-size: 1rem;
                }
            }
            .btn-wrapper{
                .btn{
                    width: 50%;
                    margin: 0.5rem;
                    &:hover{
                        width: 60%;
                    }
                }
            }
        }
    }
}