@keyframes swapToRight {
    0% {transform: translateX(0);}
    50% {transform: translateX(120px);}
    100% {transform: translateX(0);}
}
@keyframes swapToLeft {
    0% {transform: translateX(0);}
    50% {transform: translateX(-120px);}
    100% {transform: translateX(0);}
}

@keyframes fall {
    0% {transform: rotateZ(0);}
    50% {transform: rotateZ(-60deg);}
    100% {transform: rotateZ(0);}
}

@keyframes grow {
    0% {transform: scale(0.3);}
    100% {transform: scale(1);}
}

.win,
.lose{
    position: absolute;
    @include centerPosition(40vw, 390px);
    z-index: 5;
    @include centerFlexbox;
    padding: 2rem;
    background-color: $purple;
    .title{
        @include mainTitle;
        font-size: 2rem;
    }
    img{
        width: 70%;
    }
    &::before{
        @include topBar(40px, -20px, $purple-gray);
    }
    &::after{
        @include bottomBar(40px, -20px, $purple-gray);
    }
}
.win{
    .grow-animation{
        animation: grow 3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
}
.lose{
    background-color: $pink;
    .fall-animation{
        transform-origin: 60% 80%;
        animation: fall 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
    }
}


.mix{
    position: absolute;
    @include centerPosition(30vw, 290px);
    z-index: 5;
    @include centerFlexbox;
    padding: 1rem;
    background-color: white;
    .mix-animation{
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        img{
            width: 20%;
        }
        .card1{
            animation: swapToRight 3s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
        }
        .card2{
            animation: swapToLeft 3s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
        }
    }
    .helper{
        @include subtitle;
        color: $purple;
        font-weight: $bold;
        margin: 0;
        width: 100%;
    }
    &::before{
        @include topBar(20px, -10px, $yellow-gray);
    }
    &::after{
        @include bottomBar(20px, -10px, $yellow-gray);
    }
}